# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/.idea.Producer.iml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../:\Reposes\Producer\.idea\.idea.Producer\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
